In [1]:
import os
import numpy as np
import pandas as pd
from scipy import sparse
import anndata
from scroutines import basicu

In [2]:
ddir = '../data/cheng21_cell_scrna/organized/'
files = [
    # 'P8NR.h5ad',
    # 'P14NR.h5ad',
    # 'P17NR.h5ad',
    # 'P21NR.h5ad',
    # 'P28NR.h5ad',
    # 'P38NR.h5ad',
    
    'P28DR.h5ad',
    'P38DR.h5ad',
    
    # 'P28DL.h5ad',
]

In [3]:
for f in files:
    path = os.path.join(ddir, f)
    adata = anndata.read(path, backed='r')
    # break

/home/qlyu/mambaforge/envs/bbbroutine/lib/python3.8/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")
/home/qlyu/mambaforge/envs/bbbroutine/lib/python3.8/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

# first to fix

In [4]:
f = files[0]
print(f)
path = os.path.join(ddir, f)
adata = anndata.read(path) #, backed='r')
adata

P28DR.h5ad

/home/qlyu/mambaforge/envs/bbbroutine/lib/python3.8/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs × n_vars = 24817 × 53801
    obs: 'n_genes', 'percent_mito', 'n_counts', 'Doublet', 'Doublet Score', 'batch', 'leiden', 'sample', 'layer', 'cluster', 'Type', 'Subclass', 'Class_broad'

In [5]:
cellnames = adata.obs.index.values
unq, cnts = np.unique(cellnames, return_counts=True)
unq[cnts>1]

array(['GTGTTCCTCTCAGGCG-1-P28_dr_1b'], dtype=object)

In [6]:
adata.obs_names_make_unique()

In [7]:
adata.obs.filter(regex='^GTGTTCCTCTCAGGCG-1-P28_dr_1b', axis=0)

,n_genes,percent_mito,n_counts,Doublet,Doublet Score,batch,leiden,sample,layer,cluster,Type,Subclass,Class_broad
GTGTTCCTCTCAGGCG-1-P28_dr_1b,5638,0.001566,15949.0,False,0.085940,P28_DR,7,P28_dr_1b,NaN,NaN,Lamp5,Lamp5,NaN
GTGTTCCTCTCAGGCG-1-P28_dr_1b-1,5632,0.001566,15963.0,False,0.118962,P28,12,P28_dr_1b,NaN,NaN,VLMC_B,VLMC,VLMCs

In [8]:
adata.obs.filter(regex='-1$', axis=0)

,n_genes,percent_mito,n_counts,Doublet,Doublet Score,batch,leiden,sample,layer,cluster,Type,Subclass,Class_broad
GTGTTCCTCTCAGGCG-1-P28_dr_1b-1,5632,0.001566,15963.0,False,0.118962,P28,12,P28_dr_1b,NaN,NaN,VLMC_B,VLMC,VLMCs

In [9]:
adata_trim = adata[unq[cnts==1]]

In [10]:
adata_trim.write(path.replace(".h5ad", ".u.h5ad"))

In [11]:
test = anndata.read(path.replace(".h5ad", ".u.h5ad"))
test

AnnData object with n_obs × n_vars = 24815 × 53801
    obs: 'n_genes', 'percent_mito', 'n_counts', 'Doublet', 'Doublet Score', 'batch', 'leiden', 'sample', 'layer', 'cluster', 'Type', 'Subclass', 'Class_broad'

In [12]:
test.obs.filter(regex='-1$', axis=0)

Empty DataFrame
Columns: [n_genes, percent_mito, n_counts, Doublet, Doublet Score, batch, leiden, sample, layer, cluster, Type, Subclass, Class_broad]
Index: []

# second to fix

In [13]:
f = files[1]
print(f)
path = os.path.join(ddir, f)
adata = anndata.read(path, backed='r')
adata

P38DR.h5ad

/home/qlyu/mambaforge/envs/bbbroutine/lib/python3.8/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs × n_vars = 25671 × 53801 backed at '../data/cheng21_cell_scrna/organized/P38DR.h5ad'
    obs: 'n_genes', 'percent_mito', 'n_counts', 'Doublet', 'Doublet Score', 'batch', 'leiden', 'sample', 'cluster', 'Type', 'Subclass', 'Class_broad'

In [14]:
cellnames = adata.obs.index.values
unq, cnts = np.unique(cellnames, return_counts=True)
unq[cnts>1]

array(['GTGTTCCTCTCAGGCG-1-P38_dr_1b', 'TCCTAATTCACATTGG-1-P38_dr_1b'],
      dtype=object)

In [15]:
adata.obs.loc[['GTGTTCCTCTCAGGCG-1-P38_dr_1b', 'TCCTAATTCACATTGG-1-P38_dr_1b']]

,n_genes,percent_mito,n_counts,Doublet,Doublet Score,batch,leiden,sample,cluster,Type,Subclass,Class_broad
GTGTTCCTCTCAGGCG-1-P38_dr_1b,5638,0.001566,15945.0,False,0.098518,P38_DR,2,P38_dr_1b,NaN,Lamp5,Lamp5,NaN
GTGTTCCTCTCAGGCG-1-P38_dr_1b,5632,0.001566,15963.0,False,0.118962,P38,10,P38_dr_1b,NaN,VLMC_B,VLMC,VLMCs
TCCTAATTCACATTGG-1-P38_dr_1b,4613,0.002521,12688.0,False,0.139588,P38_DR,11,P38_dr_1b,NaN,Sst_E,Sst,NaN
TCCTAATTCACATTGG-1-P38_dr_1b,4611,0.002521,12691.0,False,0.087379,P38,3,P38_dr_1b,NaN,OPC_A,OPC,OPCs

In [16]:
adata.obs_names_make_unique()

In [17]:
adata.obs.filter(regex='-1$', axis=0)

,n_genes,percent_mito,n_counts,Doublet,Doublet Score,batch,leiden,sample,cluster,Type,Subclass,Class_broad
TCCTAATTCACATTGG-1-P38_dr_1b-1,4611,0.002521,12691.0,False,0.087379,P38,3,P38_dr_1b,NaN,OPC_A,OPC,OPCs
GTGTTCCTCTCAGGCG-1-P38_dr_1b-1,5632,0.001566,15963.0,False,0.118962,P38,10,P38_dr_1b,NaN,VLMC_B,VLMC,VLMCs

In [18]:
adata_trim = adata[unq[cnts==1]]
adata_trim

View of AnnData object with n_obs × n_vars = 25667 × 53801 backed at '../data/cheng21_cell_scrna/organized/P38DR.h5ad'
    obs: 'n_genes', 'percent_mito', 'n_counts', 'Doublet', 'Doublet Score', 'batch', 'leiden', 'sample', 'cluster', 'Type', 'Subclass', 'Class_broad'

In [19]:
adata_trim.write(path.replace(".h5ad", ".u.h5ad"))

In [20]:
test = anndata.read(path.replace(".h5ad", ".u.h5ad"))
test

AnnData object with n_obs × n_vars = 25667 × 53801
    obs: 'n_genes', 'percent_mito', 'n_counts', 'Doublet', 'Doublet Score', 'batch', 'leiden', 'sample', 'cluster', 'Type', 'Subclass', 'Class_broad'

In [21]:
test.obs.filter(regex='-1$', axis=0)

Empty DataFrame
Columns: [n_genes, percent_mito, n_counts, Doublet, Doublet Score, batch, leiden, sample, cluster, Type, Subclass, Class_broad]
Index: []